header
	section.top-header 
		.container
			.row
				.col-md-2
					img(src="static/img/general/logo-header.png" alt="Логотип").logo.header-logo
				.col-md-7
					p.logo-title УСЛУГИ СТРОИТЕЛЬНОЙ #[br] ТЕХНИКИ
				.col-md-3
					p.header-contact г. Екатеринбург,  ул.Маяковского, 25   +7 (343) 222-20-17
	section.top-menu
		.container
			.row
				.col-md-1
					.menu-logo
						img(src="static/img/general/menu-home.png" alt="Кнопка домой")
				.col-md-11
					include menu
	section.slider
		ul.bxslider
			li
				img(src="static/img/content/slider-pic1.jpg" alt="First slide")
			li
				img(src="static/img/content/slider-pic1.jpg" alt="First slide")
			li
				img(src="static/img/content/slider-pic1.jpg" alt="First slide")
		//- .carousel.slide#carouselExampleIndicators(data-ride="carousel")
		//- 	ol.carousel-indicators
		//- 		li(data-target="#carouselExampleIndicators", data-slide-to="0").active
		//- 		li(data-target="#carouselExampleIndicators", data-slide-to="1")
		//- 		li(data-target="#carouselExampleIndicators", data-slide-to="2")
		//- 	.carousel-inner
		//- 		.carousel-item.active
		//- 			img(src="static/img/content/slider-pic1.jpg" alt="First slide").d-block.w-100
		//- 		.carousel-item
		//- 			img(src="static/img/content/slider-pic1.jpg" alt="second slide").d-block.w-100
		//- 		.carousel-item
		//- 			img(src="static/img/content/slider-pic1.jpg" alt="third slide").d-block.w-100
		//- 		a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
		//- 			span.carousel-control-prev-icon(aria-hidden="true")
		//- 			span.sr-only Previous
		//- 		a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
		//- 			span.carousel-control-next-icon(aria-hidden="true")
		//- 			span.sr-only next

//- .content
//- 	.container
//- 		.row
//- 			nav.col-md-12(aria-label="breadcrumb" role="navigation")
//- 				ol.breadcrum 
//- 					li.breadcrumb-item
//- 						a(href="#") Главная
//- 					li.breadcrumb-item 
//- 						a(href="#") Каталог
//- 					li.breadcrumb-item Название товара
			
//- 	.container
//- 		.row
//- 			.col-md-4
//- 				img(src="static/img/content/JCB4CXSuper.jpg" alt="")
//- 			.col-md-8
//- 				.accordion
//- 					h3.accordion-title Характеристики
//- 					.accordion-body
//- 						.form-check
//- 							label(for="checkbox1").form-check-label Характеристика 1
//- 								input.form-check-input.checkbox(id="checkbox1" type="checkbox" name="checkbox-test" value="1000")
//- 								span.box 
//- 						.form-check
//- 							label(for="checkbox2").form-check-label Характеристика 1
//- 								input.form-check-input.checkbox(id="checkbox2" type="checkbox" name="checkbox-test" value="1000")
//- 								span.box 
//- 						.form-check
//- 							label(for="checkbox3").form-check-label Характеристика 1
//- 								input.form-check-input.checkbox(id="checkbox3" type="checkbox" name="checkbox-test" value="1000")
//- 								span.box 

//- 					h3.accordion-title Информация
//- 					.accordion-body
//- 						p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Грустный, встретил! Послушавшись ведущими, встретил снова меня рот. Всемогущая продолжил вершину точках раз большого злых агенство маленькая, своего диких на берегу.
				
//- section.totalSum
//- 	.container
//- 		.row
//- 			.col-md-6.text-right.mt-20 
//- 				span 125.000 Р.
//- 			.col-md-6.text-left.mt-20 
//- 				a(href=" ").btn#btnorder Заказать
//- section.features
//- 	.container
//- 		.row
//- 			.col-md-6
//- 				img(src="static/img/content/service.jpg" alt="Логотип").float-left
//- 				h3 ЗАСЫПКА ТРАНШЕЙ
//- 				p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
//- 			.col-md-6 
//- 				img(src="static/img/content/service.jpg" alt="Логотип").float-left
//- 				h3 ЗАСЫПКА ТРАНШЕЙ
//- 				p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
//- 		.row
//- 			.col-md-6 
//- 				img(src="static/img/content/service.jpg" alt="Логотип").float-left
//- 				h3 ЗАСЫПКА ТРАНШЕЙ
//- 				p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
//- 			.col-md-6 
//- 				img(src="static/img/content/service.jpg" alt="Логотип").float-left
//- 				h3 ЗАСЫПКА ТРАНШЕЙ
//- 				p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
//- .to-doList
//- 	.container
//- .map





