.footer
	height 100px
	background-color #000000
	color #d3d3d3
	padding 25px 0
	
.footer-nav-link
	color #d3d3d3
	
.footer-nav-link:hover
	color mainColor
	content: '>'
	
.footer-nav-top
	width 400px
	
.footer-nav-item
	display inline-block
	margin-right 20px
	
.link-itex
	margin-right 10px
.icon-itex
	margin-left 10px
// .footer-nav-item:hover,
// .footer-nav-item.active
// 	background-image url()