.content
	.container
		.row
			nav.col-md-12(aria-label="breadcrumb" role="navigation")
				ol.breadcrum 
					li.breadcrumb-item
						a(href="#") Главная
					li.breadcrumb-item 
						a(href="#") Каталог
					li.breadcrumb-item Название товара
			
	.container
		.row
			.col-md-4
				img(src="static/img/content/JCB4CXSuper.jpg" alt="")
			.col-md-8
				h3.catalog-itme JCB 4CX Super
				.accordion
					h3.accordion-title Характеристики
					.accordion-body
						.form-check
							label(for="checkbox1").form-check-label Характеристика 1
								input.form-check-input.checkbox(id="checkbox1" type="checkbox" name="checkbox-test" value="1000")
								span.box 
						.form-check
							label(for="checkbox2").form-check-label Характеристика 1
								input.form-check-input.checkbox(id="checkbox2" type="checkbox" name="checkbox-test" value="1000")
								span.box 
						.form-check
							label(for="checkbox3").form-check-label Характеристика 1
								input.form-check-input.checkbox(id="checkbox3" type="checkbox" name="checkbox-test" value="1000")
								span.box 

					h3.accordion-title Информация
					.accordion-body
						p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Грустный, встретил! Послушавшись ведущими, встретил снова меня рот. Всемогущая продолжил вершину точках раз большого злых агенство маленькая, своего диких на берегу.
				
section.totalSum
	.container
		.row
			.col-md-6.text-right 
				span.totalPrice 125.000 Р.
			.col-md-6.text-left
				a(href="#").btn Заказать
section.bigTitle
	.container
		.row
			.col-md-12 
				h2.big-title  Услуги
section.features
	.container
		.row
			.col-md-6
				.features-item
					img(src="static/img/content/service.jpg" alt="Логотип").features-pic
					h3.features-title ЗАСЫПКА ТРАНШЕЙ
					p.features-text Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
			.col-md-6
				.features-item
					img(src="static/img/content/service.jpg" alt="Логотип").float-left.features-pic
					h3.features-title ВЫВОЗ МУСОРА
					p.features-text Вывоз мусора — составляющая деятельности производств и бытовых предприятий
		.row
			.col-md-6
				.features-item
					img(src="static/img/content/service.jpg" alt="Логотип").float-left.features-pic
					h3.features-title ДОСТАВКА
					p.features-text Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.
			.col-md-6
				.features-item
					img(src="static/img/content/service.jpg" alt="Логотип").float-left.features-pic
					h3.features-title ЗПОДЪЕМ ГРУЗОВ
					p.features-text Выполнение широкого спектра высотных операций сложно представить без специализированной техники.
			
		//- .row
		//- 	.col-md-6 
		//- 		img(src="static/img/content/service.jpg" alt="Логотип").float-left
		//- 		h3 ЗАСЫПКА ТРАНШЕЙ
		//- 		p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
		//- 	.col-md-6 
		//- 		img(src="static/img/content/service.jpg" alt="Логотип").float-left
		//- 		h3 ЗАСЫПКА ТРАНШЕЙ
		//- 		p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
.to-doList
	.container
.map

