
section.todolist
	.container
		.row
			.col-md-9
				h2 Заголовок
				ol#list
				form(name="toDoList" autocomplete="off")
						input.form-control(type="text" id="ListItem" name="ListItem" placeholder="")
				.button.button__add
					i.fa.fa-check(aria-hidden="true") 

				.button.clear
					i.fa.fa-times(aria-hidden="true") 
						
			.col-md-3
				

